<Contributions::List @contributions={{this.model}} />

<div class='details'>
  <div class='text-center'>
    <h2>Nazwa zbiorki</h2>
    <h3>Owner: owner</h3>
    <h4>Deadline: 22.06.2022</h4>
    <h4>Status: Closed</h4>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>Username</th>
        <th scope='col'>Amount</th>
        <th scope='col'>Status</th>
        <th scope='col'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class='table-active'>
        <td>Me</td>
        <td>150 PLN</td>
        <td></td>
        <td></td>
      </tr>
      <tr class='table-success'>
        <td>JarekOgarek</td>
        <td>15 PLN</td>
        <td>Paid</td>
        <td></td>
      </tr>
      <tr class='table-warning'>
        <td>Maciek</td>
        <td>1550 PLN</td>
        <td>Waiting for payment</td>
        <td><a href=''>Confirm payment </a> <a href=''>Remind</a> </td>
      </tr>
      <tr class='table-danger'>
        <td>Bocian uzytkownik discorda</td>
        <td>213997 PLN</td>
        <td>Debt</td>
        <td><a href=''>Confirm payment </a> <a href=''>Remind</a> </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope='col'>Summary:</th>
        <th scope='col'>2137 PLN</th>
        <th scope='col'></th>
        <th scope='col'></th>
      </tr>
    </tfoot>
  </table>
</div>

<div class='w-75 p-3'>

  <div class='card text-center'>
    <div class='card-header'>
      Group: My contributions
    </div>
    <div class='card-body'>
      <h5 class='card-title'>Title</h5>
      <p class='card-text'>Owner: owner</p>

      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>Username</th>
            <th scope='col'>Amount</th>
            <th scope='col'>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class='table-active'>
            <td>Me</td>
            <td>150 PLN</td>
            <td></td>
          </tr>
          <tr class='table-success'>
            <td>JarekOgarek</td>
            <td>15 PLN</td>
            <td>Paid</td>
          </tr>
          <tr class='table-warning'>
            <td>Maciek</td>
            <td>1550 PLN</td>
            <td>Waiting for payment</td>
          </tr>
          <tr class='table-danger'>
            <td>Bocian uzytkownik discorda</td>
            <td>213997 PLN</td>
            <td>Debt</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope='col'>Summary:</th>
            <th scope='col'>2137 PLN</th>
            <th scope='col'></th>
          </tr>
        </tfoot>
      </table>

      <a href='#'>details</a>
    </div>
    <div class='card-footer text-muted'>
      2 days remaining
    </div>
  </div>
</div>