<tr class='table-success'>
  <td>{{@contribution-user.contributor.username}}</td>
  <td>{{@contribution-user.amount}} PLN</td>
  <td>{{@contribution-user.isPaid}}</td>
  <td>#actions</td>
</tr>

{{yield}}