<tr class={{if this.isPaidByUser 'table-success' 'table-danger'}}>
  <td>{{@contributionUser.contributor.username}}</td>
  <td>{{@contributionUser.amount}} PLN</td>
  {{#if this.isPaidByUser}}
    <td>Paid</td>
    <td></td>
  {{else}}
    <td>Not paid</td>
    <td><a href=''>Confirm payment</a> or <a href=''>Remind</a></td>
  {{/if}}
</tr>